<% if (add_performed) { %>
<% if (add_success) { %>
<h1 class="success-message">Restaurant added successfully!</h1>
<% } else { %>
<h1 class="error-message">Error adding restaurant. Please try again.</h1>
<% } %>
<% } %>