  <div class="header_bar">
    <p>Restaurant Finder App</p>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/restaurants">View All Restaurants</a></li>
      <li><a href="/restaurants/new">Add New Restaurant</a></li>
      <li><a href="/search">Search Restaurants</a></li>
    </ul>
  </div>