<% if (search_results) {%>
<ul>
  <% search_results.forEach(function(result) { %>
  <li class="restaurant-list-item">
    <%- include("restaurant_card.ejs", { restaurant: result }) %>
  </li>
  <% }); %>
</ul>
<% } %>