<!DOCTYPE html>
<html>

<head>
  <title>Restaurant Finder</title>
  <link rel="stylesheet" href="/styles.css">
  <script src="/restaurant-randomizer.js" defer></script>
</head>

<body>
  <%- include("partials/header_bar.ejs") %>
  <div class="home_page_container">
    <div class="description_container">
      <div class="description_card">
        <h1>Welcome to the Restaurant Finder App!</h1>
        <p><br><br>
          This application allows you to search for restaurants based on various criteria such as food type, price level, and whether they serve drinks or are fast food.
          <br><br>You can also view all restaurants in the database and add new ones, leave notes, or even get a random restaurant suggestion.
      </div>
    </div>
    <div class="featured_and_randomizer_container">
      <div class="featured_card">
        <div class="featured_header">
          <h2>Featured Restaurant:</h2>
        </div>
        <%- include("partials/restaurant_card.ejs", { restaurant: featured_restaurant }) %>
      </div>
      <div class="randomizer_card">
        <div class="randomizer_header">
          <h2>Randomizer!</h2>
          <button id="randomizer_button">Let Fate Decide!</button>
        </div>
        <%- include("partials/restaurant_card.ejs", { restaurant: random_restaurant }) %>
      </div>
    </div>
</body>

</html>